@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'p5hatty';
  src: url(assets/p5hatty-1.ttf);
}

@font-face {
  font-family: "Markin LT UltraBold";
  src: url(assets/Markin-LT-Ultra-Bold.ttf);
}

@font-face {
  font-family: "Expose Regular";
  src: url(assets/Expose-Regular.otf);
}

@font-face {
  font-family: "Persona5MenuFontPrototype Regular";
  src: url(assets/Persona5MenuFontPrototype-Regular.ttf);
}